Q1. **What are data structures, and why are they important?**

   - Data structures are ways of organizing and storing data to enable efficient access and modification. In Python, data structures help manage and process data efficiently.

Q2. **Explain the difference between mutable and immutable data types with examples**

 -  Mutable data types can be changed after creation, meaning their contents can be modified. Examples:


my_list = [1, 2, 3]  
my_list.append(4)  # List is modified

 - Immutable data types cannot be changed after creation; any modification creates a new object.

 Examples:


my_tuple = (1, 2, 3)  
my_tuple[0] = 4  # This will raise an error


Q3.**What are the main differences between lists and tuples in Python?**

   - The main difference between tuples and lists is that tuples are immutable, meaning their contents cannot be changed after creation, while lists are mutable and can be modified. Additionally, tuples are more memory-efficient compared to lists.

Q4. **Describe how dictionaries store data**

  - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Q5.**Why might you use a set instead of a list in Python?**
   - Sets are another standard Python data type that also store values. The major difference is that sets, unlike lists or tuples, cannot have multiple occurrences of the same element and store unordered values.

Q6.**What is a string in Python, and how is it different from a list?**

  - Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets []. 2) Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

Q7.**How do tuples ensure data integrity in Python?**

  - Python Tuple is a collection of objects separated by commas. A tuple is similar to a Python list in terms of indexing, nested objects, and repetition but the main difference between both is Python tuple is immutable, unlike the Python list which is mutable.

Q8.**What is a hash table, and how does it relate to dictionaries in Python?**

  - A hash table is a data structure that allows you to store a collection of key-value pairs. In a hash table, the key of every key-value pair must be hashable, because the pairs stored are indexed by using the hash of their keys.

Q9.**Can lists contain different data types in Python**

  - Although it's not really common, a list can also contain a mix of Python types including strings, floats, and booleans.

Q10.**Explain why strings are immutable in Python**
  - Strings in Python are immutable, meaning once created, they cannot be modified. This design choice has several benefits:Memory Efficiency – Since strings are immutable, Python can store and reuse them efficiently, reducing memory usage.

Q11.**What advantages do dictionaries offer over lists for certain tasks**

  - Dictionaries are faster than lists for tasks that involve searching for items, or looking up values. Dictionaries are also more flexible and can store more complex data structures.

Q12.**Describe a scenario where using a tuple would be preferable over a list**

 - Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

Q13.**How do sets handle duplicate values in Python?**
 - Sets do not allow duplicate items, they are unordered, and the items stored in them cannot be modified.

Q14.**How does the “in” keyword work differently for lists and dictionaries?**
 - In Lists (list) – Checks for Element Presence

- The in keyword checks if a value exists in the list by iterating through each element.

 my_list = [1, 2, 3, 4]
print(2 in my_list)  # True (checks for value)
print(5 in my_list)  # False

  - In Dictionaries (dict) – Checks for Key Presence

 The in keyword checks only for the presence of a key, not values.

 my_dict = {"name": "Alice", "age": 25}
print("name" in my_dict)  # True (checks for key)
print("Alice" in my_dict)  # False (does not check values)

Q15.**Can you modify the elements of a tuple? Explain why or why not**
 - Tuples, unlike lists, are immutable. This means that once a tuple's elements have been allocated, they cannot be modified. However, if the element is a changeable data type, such as a list, its nested components can be altered.

 No, you cannot modify the elements of a tuple in Python because tuples are "immutable," meaning once created, their elements cannot be changed, added, or removed; if you try to alter a tuple element, you will receive a TypeError erro

Q16.**What is a nested dictionary, and give an example of its use case?**

- In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary with the dictionary dictA and dictB . They are two dictionary each having own key and value.

Q17.**Describe the time complexity of accessing elements in a dictionary**

- The time complexity of accessing an element in a Python dictionary is O(1) on average, but can be O(n) in the worst case. The worst case occurs when there are many hash collisions or when the dictionary needs to be resized.

Q18.**In what situations are lists preferred over dictionaries?**
 - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q19.**Why are dictionaries considered unordered, and how does that affect data retrieval?**

 - Dictionaries were traditionally unordered because they stored key-value pairs using hash tables, where elements were placed in arbitrary positions based on their hash values. However, since Python 3.7, dictionaries maintain insertion order, but they are still conceptually unordered because their internal storage does not rely on sequential indexing like lists.

Q20.**Explain the difference between a list and a dictionary in terms of data retrieval.**
 - In Python, the difference between data retrieval in a list and a dictionary is that lists use indices to access elements, while dictionaries use keys.
  
  -Lists
Lists are ordered collections of items.
Elements in a list are accessed using indices, which are integers that start at zero.
Lists are good for ordered operations like sorting.
Lists can contain duplicate items.

  -Dictionaries
Dictionaries are unordered collections of key-value pairs.
Elements in a dictionary are accessed using keys, which can be of any data type.
Dictionaries are good for lookup operations.
Dictionaries do not allow duplicate keys.
Use cases
Lists are good for ordered collections, like a sequence of user actions.
Dictionaries are good for quick lookups, like mapping usernames to user data.

In [1]:
#Q1 . Write a code to create a string with your name and print it
s1 = 'Archana'
s2 = "Yadav"
print(s1)
print(s2)

Archana
Yadav

In [2]:
#Q2.Write a code to find the length of the string "Hello World"
name  = "Archana yadav"
print(len(name))

13

In [3]:
#Q3.Write a code to slice the first 3 characters from the string "Python Programming
name = "Python Programming"
print(name[0:3])

Pyt

In [4]:
#Q4. Write a code to convert the string "hello" to uppercase
name = "hello"
print(name.upper())

HELLO

In [5]:
#Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple
name = "I like apple"
print(name.replace("apple","orange"))

I like orange

In [6]:
#Q6.Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [9]:
#Q.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [10]:
#Q.9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a','b','c','d']
print(list[1])

b

In [11]:
#Q.10 Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [12]:
#Q.11  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [13]:
#Q.12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [14]:
#Q.13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10,20,5,15)
print(min(tuple))

5

In [15]:
#Q.14 . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index('cat'))

1

In [16]:
#Q.15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple = ('apple','banana','kiwi')
print('kiwi' in tuple)

True

In [17]:
#Q.16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'b', 'c', 'a'}

In [18]:
#Q.17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [19]:
#Q.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [20]:
#Q.19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [21]:
#Q.20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [22]:
#Q.21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Archana yadav",
    "age": 25,
    "city": "New Delhi "
}

# Printing the dictionary
print(person)

{'name': 'Archana yadav', 'age': 25, 'city': 'New Delhi '}

In [23]:
#Q.22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person = {
    "name": "Archana yadav",
    "age": 25,
    "city": "New Delhi "
}
person["country"] = "USA"
print(person)

{'name': 'Archana yadav', 'age': 25, 'city': 'New Delhi ', 'country': 'USA'}

In [24]:
#Q.23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {
    "name": "Archana yadav",
    "age": 25,
    "city": "New Delhi "
}
print(person["name"])

Archana yadav

In [25]:
#Q.24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {
    "name": "Archana yadav",
    "age": 25,
    "city": "New Delhi "
}
del person["age"]
print(person)

{'name': 'Archana yadav', 'city': 'New Delhi '}

In [26]:
#Q.25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {
    "name": "Archana yadav",
    "age": 25,
    "city": "New Delhi "
}
print("city" in person)

True

In [28]:
#Q.26  Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4]
print(list)
tuple = (1,2,3,4)
print(tuple)
person = {
    "name": "Archana yadav",
    "age": 25,
    "city": "New Delhi "
}
print(person)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Archana yadav', 'age': 25, 'city': 'New Delhi '}

In [29]:
'''Q.27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[8, 47, 53, 53, 80]

In [31]:
#Q.28  Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Printing the element at the third index (4th element)
print(my_list[2])

cherry

In [33]:
#Q.29  Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the combined dictionary
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
#Q.30  Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

my_set = set(my_list)

print(my_set)

TypeError: 'set' object is not callable